
.catagorySection {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.singaleCar {
    position: absolute;
    /* z-index: 1; */
}

.catagoryCardImg {
    overflow: hidden;
    visibility: visible;
}

.catagoryCardImg img {
    transition: transform .4s;
}


.catagorySection:hover img {
    transform: scale(1.2);
}

.carShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 136, 37, 0.363);
    top: -100%;
    transition: 0.5s;
}
.cardButton{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    transition: 0.5s;
    z-index: 1;
}
.catagorySection:hover .carShadow{
    top: 0;
}
.catagorySection:hover .cardButton{
    bottom: 0;
}
